/* font-family */
p {
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-family: "Ubuntu";
}

/* font-size */
body {
	font-size: 20px;
	font-family: 'Indie Flower', cursive;
}

h1 {
	font-size: 2.0em;
}

p {
	font-size: 0.9em;
}

span {
	font-size: 1.5em;
}

/* font-weight */
p {
	font-weight: bold;
}

/* line-height */
p {
	line-height: 1.3;
}

/* text-align */
h1 {
	text-align: center;
}

/* text-decoration */
p {
	text-decoration: line-through;
}